<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852354436005-u2nmqoae44tqdlmnvcgl2c6ft1d8bsct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852354436005-u2nmqoae44tqdlmnvcgl2c6ft1d8bsct</string>
	<key>API_KEY</key>
	<string>AIzaSyBsxy9rDhzJdA9zSetntkRIMSb3FfrMzdI</string>
	<key>GCM_SENDER_ID</key>
	<string>852354436005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosdevnelson.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flah-chat-c5beb</string>
	<key>STORAGE_BUCKET</key>
	<string>flah-chat-c5beb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852354436005:ios:b8f461dcda76a342</string>
	<key>DATABASE_URL</key>
	<string>https://flah-chat-c5beb.firebaseio.com</string>
</dict>
</plist>